@import url('https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap');

body {
  font-family: 'Muli', sans-serif;

}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
  outline: none !important;
  list-style: none;
  color: #2f2f2f;
}

*:hover,
*:focus {
  outline: none !important;
}

.padding-top-bottom {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.title-section {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 900;
}

/* HEADER */
.logo-responsive {
  display: none;
}

header {
  /* position: absolute; */
  width: 100%;
  position: relative;
  z-index: 1;
}

.box-nav {
  width: 100%;
  display: flex;
}

.nav-custom:hover {
  color: #4e4b4b !important;
}

.navbar {
  padding: 0 !important;
}

.nav-custom {
  color: #fff !important;
  /* padding-top: 0; */
  transition: .5s;
  /* padding-bottom: 0; */
  font-weight: 600;
  /* padding-left: 0!important; */
  padding: 1rem 1.9rem !important;
}

.nav-custom:hover {
  color: #525151 !important;
  transition: .5s;
}

.nav-item:nth-child(1) {
  background: #de693d;
  flex: 1;
}


.nav-item:nth-child(2) {
  background: #eaa049;
  flex: 1;
}

.nav-item:nth-child(3) {
  background: #9ecd63;
  flex: 1;
}

.nav-item:nth-child(4) {
  background: #5ac06c;
}

.nav-item:nth-child(5),
.nav-item:nth-child(6) {
  background: #2c825d;
}

.nav-link i {
  color: #fff !important;
  font-size: 1.5rem;
}

.item-contact {
  display: none;
}

.option-nav {
  position: absolute;
  display: none;
  transition: .5s;

}

.link-product {
  position: relative;
  transition: .5s;
}

.link-product:hover .option-nav {
  display: block;
  transition: .5s;
}

.navbar-brand {
  padding: 0;
  margin-left: 4rem;
}

.navbar-brand img {
  width: 8rem;
}

.nav-flex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

header .navbar-brand {
  position: absolute;
}

header .navbar-nav {
  width: 50%;
}

/** Banner */
.main-banner {
  position: relative;
  overflow: hidden;
  margin-top: -80px;
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-banner .mask .main-banner__text {
  position: absolute;
  top: 30%;
  width: 70%;
  left: 3%;
}

.btn-banner {
  position: absolute;
  left: 3%;
  top: 250px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .mask .main-banner__text {
    width: 85%;
    left: 10%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner .mask .main-banner__text {
    top: 35%;
  }
}

.main-banner .mask .main-banner__text .main-banner__title {
  text-align: left;
}

.main-banner .mask .main-banner__text .main-banner__title p {
  padding: 0 25px;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner .mask .main-banner__text .main-banner__title p {
    font-size: 40px;
  }
}



.main-banner .mask .main-banner__text .main-banner__title span {
  padding: 0 25px;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.main-banner .mask .main-banner__text .main-banner__description {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  line-height: 2rem;
  margin: 50px 0 0 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner .mask .main-banner__text .main-banner__description {
    font-size: 18px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .mask .main-banner__text .main-banner__description {
    font-size: 18px;
    padding: 0;
  }
}

.main-banner .main-banner__img {
  width: 100%;
  height: 105vh;
}

.main-banner .main-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BANNER */
.banner-slick {
  margin-bottom: 0 !important;
}

.banner-slick .slick-dots {
  width: inherit;
  top: 50%;
}


.banner-slick .slick-dots li {
  display: block;
}

.banner-slick .slick-dots li button:before {
  width: 10px;
  height: 30px;
  background: white;
  content: '';
  border-radius: 10px;
}

.banner-slick .slick-dots li {
  margin: 15px 12px;
}


.img-banner img {
  /* position: absolute; */
  /* border-radius: 5px; */
  z-index: 1;
  width: 50%;
  height: 100%;
  box-shadow: 0 10px 50px -5px rgba(0, 0, 0, .4);
  object-fit: cover;
}


.item-banner {
  height: 100vh;
  position: relative;
}

.mask-banner {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #00a6d2;
}

.img-banner {
  /* position: absolute; */
  display: flex;
  z-index: 1;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.img-banner video {
  width: 50%;
  background: #00a6d2;
}


.text-banner {
  margin-left: 5rem;

}

.title-banner {
  color: #fff;
  font-weight: 900;
  font-size: 3rem;

}

.subtitle-banner {
  color: #fff;
  font-size: 1.5rem;
}

/* SERVICES */

.item-service {
  text-align: center;
}

.icon-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-service img {
  width: 4rem;
  margin-bottom: 1rem;
}

.slick-next,
.slick-prev {
  top: initial;
  bottom: -2rem;
  right: 0;
}

.slick-prev {
  left: initial;
  right: 2rem;
}

.slick-next:before,
.slick-prev:before {
  color: #2f2f2f;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.5rem;
}

.slick-next:before {
  content: "\f054" !important;

}


.slick-prev:before {
  content: "\f053" !important;

}


.banner-slick .slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 0;
}

.banner-slick .slick-dots li {
  margin: .2rem 1rem !important;
}

.banner-slick .slick-dots li button::before {
  height: 18px;
  width: 10px;
  background: #fff;
  margin: 1rem !important;
  border-radius: 5px;
  content: "" !important;
}

.item-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category {
  font-weight: 600;
  margin-bottom: .5rem;
  color: #00a6d2;
}

/* CLIENTS */

.item-client img {
  width: 10rem;
  height: 5rem;
  object-fit: contain;
}

.flex-client {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiple-items .slick-dots {
  bottom: -4rem;
}

.multiple-items .slick-dots li button:before {
  height: 12px;
  background: #00a6d2;
  border-radius: 5px;
  content: '' !important;
}

/* PRODUCTS */
.products {
  padding-top: 30px;
}

.controls {
  display: flex;
  justify-content: center;
}

.products .padding-top-bottom {
  padding-bottom: 0;
}

.controls-item {
  margin: 1.2rem auto 3rem;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
  box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
}

label {
  font-weight: 300;
  margin: 0 .4em 0 0;
}

.controls-item button {
  padding: .5rem 1rem;
  color: #00a6d2;
  font-weight: 600;
  cursor: pointer;
  background: #ffffff !important;
  border: none;
  font-size: 1rem;
}

.controls-item button.active {
  background: #00a6d2 !important;
  color: #ffffff !important;
}

.controls-item button:focus {
  outline: 0 none;
}

.container-filter {
  text-align: justify;
  font-size: 0.1px;
  min-height: 32rem;
  -webkit-backface-visibility: hidden;
}

.container-filter .mix,
.container-filter .gap {
  display: inline-block;
  width: 100%;
  height: 30rem;
  margin-right: 10px;
}

.container-filter .mix {
  text-align: left;
  margin-bottom: 3rem;
  display: none;
}


.card-product {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
  margin-bottom: 20px;
}

.img-product,
.body-product {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.img-product img {
  object-fit: cover;
}

.body-product {
  padding: 1rem 1.5rem;
  text-align: center;
}

.body-product .description-product p {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
  height: 6rem;
}

.title-product {
  font-size: 1.5rem;
  font-weight: 600;
}

.description-product p {
  font-size: 1rem;
  color: #828282;

}

.btn-product {
  font-size: 1rem;
  padding: .5rem 1rem;
  color: #fff;
  background: #00a6d2;
  border-radius: 5px;
  font-weight: 600;
  transition: .5s;

}

.btn-product:hover {
  text-decoration: none;
  color: #fff;
  background: #0694b9;
  transition: .5s;
}

/* TESTIMONIE */

.mask-testimonies .title-section {
  color: #fff;
}

.section-testimonies {
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1549560826-4b7bfe23f37b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}

.item-testimonie {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-testimonie {
  width: 80%;
  text-align: center;
}

.avatar-testimonie img {
  border-radius: 5px;
  width: 14rem;
  /* box-shadow: 0 10px 50px -5px rgba(0,0,0,.4); */
}

.name-testimonie {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.description-testimonie {
  font-size: 1rem;
  color: #fff;
}

.mask-testimonies {
  background: #40bcdde6;
}




/* FOOTER */

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-footer img {
  width: 14rem;
}

.list-rrss {
  display: flex;
  justify-content: center;
}

.list-rrss li {
  margin: 0 .5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  background: #00a6d2;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.list-rrss i {
  font-size: 1.5rem;
  color: #fff;
}

.powered p {
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

.powered a {
  color: #00a6d2;
  text-decoration: none;
}


/* DETAIL SERVICE */

.item-service a {
  text-decoration: none;
}

.item-service a:hover {
  text-decoration: none;
}

.detail-service {
  padding-bottom: 0;
}

.link-product {
  display: block;
  font-size: 20px;
  color: #858585;
  text-decoration: none;
  padding: 35px 15px;
  background: white;
  border-bottom: 1px solid #d4d4d4 !important;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
  text-align: inherit;
}

.main-contact__content {
  display: flex;
  justify-content: center;
}

.main-footer {
  padding-top: 50px;
}

.main-footer__form {
  width: 65%;
  margin-top: 50px;
}

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="number"] {
  width: 100%;
  margin: 0 0px 20px;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: rgba(214, 218, 224, 0.52);
  color: #efc09c;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  background: hsla(193, 100%, 41%, 0.29);
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

input[type="text"]::placeholder,
input[type="phone"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
  color: #898989 !important;
}

.custom-select {
  width: 100%;
  margin: 0 0px 20px;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: rgba(214, 218, 224, 0.52);
  color: #898989;
  font-size: 16px;

}

.custom-select:focus {
  background: hsla(193, 100%, 41%, 0.29);
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.custom-select::placeholder {
  color: #898989 !important;
}

button {
  border: none;
}

.main-contact {
  padding-top: 100px;
}

.tab-content {
  margin-top: 50px;
}

.nav-pills li a {
  font-weight: 600;
}