@media screen and (min-width: 0px) and (max-width: 997px) {
  .main-banner .mask .main-banner__text .main-banner__title p {
    font-size: 30px;
    padding: 0;
  }

  .main-footer__form {
    width: 100%;
  }

  .logo-responsive {
    display: block;
  }



  html {
    font-size: 13px;
  }

  header .navbar-brand {
    position: initial;
  }

  /* BANNER */

  .mask-banner {
    background: #0000009c;
    text-align: center;
    z-index: 1;
    width: 100%;
  }

  .img-banner {
    left: 0;
  }

  .img-banner img {
    width: 100%;
  }

  .text-banner {
    width: 100%;
    margin-left: 0;
  }

  .title-banner {
    text-shadow: 0 5px 14px rgba(0, 0, 0, 0.27);
  }

  .navbar-toggler {
    margin-right: 3rem;
  }

  .box-nav {
    padding: 1rem 0;
  }

  .navbar-nav {
    width: 100% !important;
    align-items: initial !important;
  }

  .nav-flex {
    margin: 0;
  }

  .nav-item {
    background: #fff !important;
  }

  .nav-custom {
    color: #525151 !important;
  }

  .nav-link {
    text-align: center;
  }

  .nav-link i {
    color: #525151 !important;
  }

  .navbar {
    background: #fff;
  }
}

@media screen and (min-width: 769px) and (max-width: 1224px) {
  .text-banner {
    width: 50%;
    margin-left: 3rem;
  }
}